# ------------------------------------------------------------------------- #
# VictreeBot                                                                #
#                                                                           #
# See LICENSE for more information. If this code is used, attribution       #
# would be appreciated.                                                     #
# Written by Luke Hendriks and Martijn Verlind                              #
# ------------------------------------------------------------------------- #
# Database and .env imports
python-dotenv
asyncpg
# Hikari
hikari
hikari-tanjun
# GitHub
GitPython
# Functionality
pokebase
pathlib
pyfiglet
apscheduler
datetime